.home-section {
    position: relative;
    min-height: 300px;
    overflow: hidden;

    background-image: url('https://raw.githubusercontent.com/jerche943/jerche943.github.io/main/webPage/background.jpg');
    background-size: cover;
    background-position: 40% 23%;
    background-repeat: no-repeat;
}

.home-section__bg {
    position: absolute;
    inset: 0;
    background-color: red !important;
    z-index: 0;
}

.home-section__overlay {
    position: relative;
    z-index: 1;
}
